__pycache__/
*.pyc
research/tuxedo-drivers/
research/tools/
research/oem/
research/*.log
research/*.aml
research/*.dsl
driver/*/*.o
driver/*/*.ko
driver/*/*.mod
driver/*/*.mod.c
driver/*/.*.cmd
driver/*/Module.symvers
driver/*/modules.order

dist/

interface.png

diagnostico*.json

research/*.json
